<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MC18 - live</title>
</head>
<body>


<script>
    var loc = window.location, socketUri;
    if (loc.protocol === "https:") {
        socketUri = "wss:";
    } else {
        socketUri = "ws:";
    }
    socketUri += "//" + loc.host + loc.pathname + "ws/match-live/4472";

    var websocket = new WebSocket(socketUri);

    websocket.onopen = function (event) {
        websocket.send("Here's some text that the server is urgently awaiting!");
    };

    websocket.onmessage = function (event) {
        console.log(JSON.parse(event.data));
    }
</script>
</body>
</html>